
.Dice {
    --width: 30px;
    --height: 30px;
    position: absolute;
    left: calc(var(--width) / -2);
    top: calc(var(--height) / -2);
    display: inline-flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    border-radius: var(--margin);
    background: white;
    border: solid 1px black;
    width: var(--width);
    height: var(--height);
    padding: var(--margin);
}